In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
# !py -m pip install sqlalchemy psycopg2-binary
!py -m pip install pyarrow

Collecting pyarrow
  Obtaining dependency information for pyarrow from https://files.pythonhosted.org/packages/db/1d/e8004776a69b5bad62b857367a9a2dff7c61d9606f341e549a174047349b/pyarrow-15.0.0-cp311-cp311-win_amd64.whl.metadata
  Downloading pyarrow-15.0.0-cp311-cp311-win_amd64.whl.metadata (3.1 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\users\mindy\appdata\local\programs\python\python311\lib\site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-15.0.0-cp311-cp311-win_amd64.whl (24.8 MB)
   ---------------------------------------- 0.0/24.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/24.8 MB ? eta -:--:--
   ---------------------------------------- 0.1/24.8 MB 550.5 kB/s eta 0:00:45
   ---------------------------------------- 0.1/24.8 MB 585.1 kB/s eta 0:00:43
   ---------------------------------------- 0.2/24.8 MB 1.1 MB/s eta 0:00:22
    --------------------------------------- 0.3/24.8 MB 1.3 MB/s eta 0:00:19
    --------------------------------------- 0.4/24.8 MB 1.4 MB/s eta 0:00:18
    --------------------------------------- 0.5/24.8 MB 1.6 MB/s eta 0:00:16
   - -------------------------------------- 0.6/24.8 MB 1.6 MB/s eta 0:00:15
   - -------------------------------------- 0.8/24.8 MB 1.8 MB/s eta 0:00:13
   - -------------------------------------- 0.9/24.8 MB 2.0 MB/s eta 0:00:12
   - -------------------------------------- 1.0/24.8 MB 2.0 MB/s eta 0:00:12
   - -------------------------------------- 1.1/24.8 MB 2.0 MB/s eta 0:00:12
   - -------------------------------------- 1.2/24.8 MB 2.0 MB/s eta 0:00:12
   -- ------------------------------------- 1.3/24.8 MB 1.9 MB/s eta 0:00:13
   -- ------------------------------------- 1.3/24.8 MB 1.9 MB/s eta 0:00:13
   -- ------------------------------------- 1.4/24.8 MB 1.9 MB/s eta 0:00:13
   -- ------------------------------------- 1.6/24.8 MB 1.9 MB/s eta 0:00:12
   -- ------------------------------------- 1.6/24.8 MB 2.0 MB/s eta 0:00:12
   -- ------------------------------------- 1.7/24.8 MB 1.9 MB/s eta 0:00:13
   -- ------------------------------------- 1.8/24.8 MB 1.9 MB/s eta 0:00:12
   --- ------------------------------------ 1.9/24.8 MB 2.0 MB/s eta 0:00:12
   --- ------------------------------------ 2.1/24.8 MB 2.0 MB/s eta 0:00:12
   --- ------------------------------------ 2.2/24.8 MB 2.0 MB/s eta 0:00:12
   --- ------------------------------------ 2.3/24.8 MB 2.1 MB/s eta 0:00:11
   --- ------------------------------------ 2.5/24.8 MB 2.1 MB/s eta 0:00:11
   ---- ----------------------------------- 2.6/24.8 MB 2.1 MB/s eta 0:00:11
   ---- ----------------------------------- 2.8/24.8 MB 2.2 MB/s eta 0:00:11
   ---- ----------------------------------- 2.9/24.8 MB 2.2 MB/s eta 0:00:10
   ---- ----------------------------------- 3.1/24.8 MB 2.2 MB/s eta 0:00:10
   ----- ---------------------------------- 3.2/24.8 MB 2.3 MB/s eta 0:00:10
   ----- ---------------------------------- 3.4/24.8 MB 2.3 MB/s eta 0:00:10
   ----- ---------------------------------- 3.5/24.8 MB 2.3 MB/s eta 0:00:10
   ----- ---------------------------------- 3.6/24.8 MB 2.3 MB/s eta 0:00:10
   ------ --------------------------------- 3.8/24.8 MB 2.4 MB/s eta 0:00:09
   ------ --------------------------------- 3.9/24.8 MB 2.4 MB/s eta 0:00:09
   ------ --------------------------------- 4.1/24.8 MB 2.4 MB/s eta 0:00:09
   ------ --------------------------------- 4.3/24.8 MB 2.5 MB/s eta 0:00:09
   ------- -------------------------------- 4.5/24.8 MB 2.5 MB/s eta 0:00:09
   ------- -------------------------------- 4.6/24.8 MB 2.5 MB/s eta 0:00:08
   ------- -------------------------------- 4.8/24.8 MB 2.6 MB/s eta 0:00:08
   ------- -------------------------------- 4.9/24.8 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.1/24.8 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.2/24.8 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.4/24.8 MB 2.6 MB/s eta 0:00:08
   -------- ------------------------------- 5.6/24.8 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 5.7/24.8 MB 2.7 MB/s eta 0:00:08
   --------- ------------------------------ 5.7/24.8 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 5.8/24.8 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 5.9/24.8 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 6.0/24.8 MB 2.6 MB/s eta 0:00:08
   --------- ------------------------------ 6.1/24.8 MB 2.6 MB/s eta 0:00:08
   ---------- ----------------------------- 6.3/24.8 MB 2.6 MB/s eta 0:00:08
   ---------- ----------------------------- 6.4/24.8 MB 2.6 MB/s eta 0:00:08
   ---------- ----------------------------- 6.5/24.8 MB 2.6 MB/s eta 0:00:08
   ---------- ----------------------------- 6.7/24.8 MB 2.6 MB/s eta 0:00:07
   ---------- ----------------------------- 6.8/24.8 MB 2.6 MB/s eta 0:00:07
   ----------- ---------------------------- 7.0/24.8 MB 2.6 MB/s eta 0:00:07
   ----------- ---------------------------- 7.1/24.8 MB 2.6 MB/s eta 0:00:07
   ----------- ---------------------------- 7.2/24.8 MB 2.6 MB/s eta 0:00:07
   ----------- ---------------------------- 7.4/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.5/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.6/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.6/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.7/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.8/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.9/24.8 MB 2.6 MB/s eta 0:00:07
   ------------ --------------------------- 7.9/24.8 MB 2.5 MB/s eta 0:00:07
   ------------- -------------------------- 8.1/24.8 MB 2.5 MB/s eta 0:00:07
   ------------- -------------------------- 8.2/24.8 MB 2.5 MB/s eta 0:00:07
   ------------- -------------------------- 8.3/24.8 MB 2.5 MB/s eta 0:00:07
   ------------- -------------------------- 8.5/24.8 MB 2.6 MB/s eta 0:00:07
   ------------- -------------------------- 8.6/24.8 MB 2.6 MB/s eta 0:00:07
   -------------- ------------------------- 8.7/24.8 MB 2.6 MB/s eta 0:00:07
   -------------- ------------------------- 8.8/24.8 MB 2.6 MB/s eta 0:00:07
   -------------- ------------------------- 8.9/24.8 MB 2.6 MB/s eta 0:00:07
   -------------- ------------------------- 9.0/24.8 MB 2.5 MB/s eta 0:00:07
   -------------- ------------------------- 9.1/24.8 MB 2.5 MB/s eta 0:00:07
   -------------- ------------------------- 9.2/24.8 MB 2.5 MB/s eta 0:00:07
   --------------- ------------------------ 9.3/24.8 MB 2.5 MB/s eta 0:00:07
   --------------- ------------------------ 9.5/24.8 MB 2.5 MB/s eta 0:00:07
   --------------- ------------------------ 9.6/24.8 MB 2.5 MB/s eta 0:00:06
   --------------- ------------------------ 9.7/24.8 MB 2.6 MB/s eta 0:00:06
   --------------- ------------------------ 9.9/24.8 MB 2.5 MB/s eta 0:00:06
   ---------------- ----------------------- 10.0/24.8 MB 2.6 MB/s eta 0:00:06
   ---------------- ----------------------- 10.2/24.8 MB 2.6 MB/s eta 0:00:06
   ---------------- ----------------------- 10.3/24.8 MB 2.7 MB/s eta 0:00:06
   ---------------- ----------------------- 10.5/24.8 MB 2.7 MB/s eta 0:00:06
   ----------------- ---------------------- 10.6/24.8 MB 2.7 MB/s eta 0:00:06
   ----------------- ---------------------- 10.8/24.8 MB 2.7 MB/s eta 0:00:06
   ----------------- ---------------------- 11.0/24.8 MB 2.7 MB/s eta 0:00:06
   ----------------- ---------------------- 11.1/24.8 MB 2.7 MB/s eta 0:00:06
   ------------------ --------------------- 11.2/24.8 MB 2.7 MB/s eta 0:00:06
   ------------------ --------------------- 11.3/24.8 MB 2.7 MB/s eta 0:00:06
   ------------------ --------------------- 11.4/24.8 MB 2.7 MB/s eta 0:00:05
   ------------------ --------------------- 11.5/24.8 MB 2.7 MB/s eta 0:00:05
   ------------------ --------------------- 11.6/24.8 MB 2.7 MB/s eta 0:00:05
   ------------------ --------------------- 11.8/24.8 MB 2.8 MB/s eta 0:00:05
   ------------------- -------------------- 11.9/24.8 MB 2.8 MB/s eta 0:00:05
   ------------------- -------------------- 12.1/24.8 MB 2.8 MB/s eta 0:00:05
   ------------------- -------------------- 12.2/24.8 MB 2.8 MB/s eta 0:00:05
   ------------------- -------------------- 12.3/24.8 MB 2.8 MB/s eta 0:00:05
   -------------------- ------------------- 12.5/24.8 MB 2.8 MB/s eta 0:00:05
   -------------------- ------------------- 12.6/24.8 MB 2.8 MB/s eta 0:00:05
   -------------------- ------------------- 12.7/24.8 MB 2.8 MB/s eta 0:00:05
   -------------------- ------------------- 12.9/24.8 MB 2.8 MB/s eta 0:00:05
   -------------------- ------------------- 13.0/24.8 MB 2.8 MB/s eta 0:00:05
   --------------------- ------------------ 13.1/24.8 MB 2.8 MB/s eta 0:00:05
   --------------------- ------------------ 13.3/24.8 MB 2.8 MB/s eta 0:00:05
   --------------------- ------------------ 13.4/24.8 MB 2.8 MB/s eta 0:00:05
   --------------------- ------------------ 13.6/24.8 MB 2.8 MB/s eta 0:00:05
   ---------------------- ----------------- 13.7/24.8 MB 2.8 MB/s eta 0:00:04
   ---------------------- ----------------- 13.9/24.8 MB 2.8 MB/s eta 0:00:04
   ---------------------- ----------------- 14.1/24.8 MB 2.8 MB/s eta 0:00:04
   ---------------------- ----------------- 14.2/24.8 MB 2.8 MB/s eta 0:00:04
   ----------------------- ---------------- 14.4/24.8 MB 2.8 MB/s eta 0:00:04
   ----------------------- ---------------- 14.5/24.8 MB 2.8 MB/s eta 0:00:04
   ----------------------- ---------------- 14.7/24.8 MB 2.8 MB/s eta 0:00:04
   ----------------------- ---------------- 14.9/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------ --------------- 15.0/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------ --------------- 15.2/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------ --------------- 15.3/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------ --------------- 15.5/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------- -------------- 15.6/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------- -------------- 15.7/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------- -------------- 15.9/24.8 MB 2.8 MB/s eta 0:00:04
   ------------------------- -------------- 16.1/24.8 MB 2.8 MB/s eta 0:00:04
   -------------------------- ------------- 16.2/24.8 MB 2.8 MB/s eta 0:00:04
   -------------------------- ------------- 16.3/24.8 MB 2.8 MB/s eta 0:00:03
   -------------------------- ------------- 16.4/24.8 MB 2.8 MB/s eta 0:00:03
   -------------------------- ------------- 16.6/24.8 MB 2.8 MB/s eta 0:00:03
   -------------------------- ------------- 16.7/24.8 MB 2.8 MB/s eta 0:00:03
   --------------------------- ------------ 16.8/24.8 MB 2.8 MB/s eta 0:00:03
   --------------------------- ------------ 17.0/24.8 MB 2.8 MB/s eta 0:00:03
   --------------------------- ------------ 17.1/24.8 MB 2.8 MB/s eta 0:00:03
   --------------------------- ------------ 17.3/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.4/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.6/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.6/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.8/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.8/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.9/24.8 MB 2.8 MB/s eta 0:00:03
   ---------------------------- ----------- 17.9/24.8 MB 2.8 MB/s eta 0:00:03
   ----------------------------- ---------- 18.0/24.8 MB 2.8 MB/s eta 0:00:03
   ----------------------------- ---------- 18.1/24.8 MB 2.8 MB/s eta 0:00:03
   ----------------------------- ---------- 18.3/24.8 MB 2.8 MB/s eta 0:00:03
   ----------------------------- ---------- 18.4/24.8 MB 2.8 MB/s eta 0:00:03
   ----------------------------- ---------- 18.5/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------ --------- 18.7/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------ --------- 18.8/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------ --------- 18.9/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------ --------- 19.0/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------ --------- 19.1/24.8 MB 2.8 MB/s eta 0:00:03
   ------------------------------- -------- 19.3/24.8 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 19.4/24.8 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 19.6/24.8 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 19.7/24.8 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 19.9/24.8 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 20.0/24.8 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 20.2/24.8 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 20.3/24.8 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 20.5/24.8 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 20.7/24.8 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 20.8/24.8 MB 2.9 MB/s eta 0:00:02
   --------------------------------- ------ 21.0/24.8 MB 2.9 MB/s eta 0:00:02
   ---------------------------------- ----- 21.1/24.8 MB 2.9 MB/s eta 0:00:02
   ---------------------------------- ----- 21.3/24.8 MB 2.9 MB/s eta 0:00:02
   ---------------------------------- ----- 21.5/24.8 MB 2.9 MB/s eta 0:00:02
   ---------------------------------- ----- 21.7/24.8 MB 3.0 MB/s eta 0:00:02
   ----------------------------------- ---- 21.8/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.0/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.1/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.1/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.1/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.1/24.8 MB 3.0 MB/s eta 0:00:01
   ----------------------------------- ---- 22.2/24.8 MB 2.9 MB/s eta 0:00:01
   ----------------------------------- ---- 22.3/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 22.4/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 22.5/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 22.7/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 22.8/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 22.9/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 23.1/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 23.3/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 23.4/24.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------- -- 23.5/24.8 MB 2.9 MB/s eta 0:00:01
   -------------------------------------- - 23.7/24.8 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 23.9/24.8 MB 2.8 MB/s eta 0:00:01
   -------------------------------------- - 24.0/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.2/24.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  24.3/24.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  24.5/24.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------  24.6/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------  24.8/24.8 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 24.8/24.8 MB 2.7 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: C:\Users\mindy\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [8]:
# \dt in pgcli? is like this query

query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
    schemaname != 'information_schema';
"""
pd.read_sql(query, con = engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [15]:
# df = pd.read_parquet('yellow_tripdata_2023-01.parquet',  engine='pyarrow')
# df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
# df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz')

C:\Users\mindy\AppData\Local\Temp\ipykernel_9104\4111176483.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [7]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [12]:
df.head()
df.to_sql(name='green_taxidata_trip', con=engine, index=False)

63

In [60]:
df2 = pd.read_csv('taxi+_zone_lookup.csv')
df2.to_sql(name='zones', con=engine, index=False)

265

3. How many taxi trips were totally made on September 18th 2019?

In [52]:
query = """
SELECT count(*)
FROM green_taxidata_trip
WHERE
    1=1
    and lpep_pickup_datetime >= '2019-09-18 00:00:00'
    and lpep_dropoff_datetime <= '2019-09-18 23:59:59'
"""

pd.read_sql(query, con = engine) # answer: 15612
#  and green_taxidata_trip."VendorID" = 2.0

   count
0  15612

## 4. Which was the pick up day with the largest trip distance? Use the pick up time for your calculations.

In [54]:
query = """
SELECT *
FROM green_taxidata_trip
WHERE
    1=1
ORDER BY trip_distance DESC
LIMIT 1
"""

pd.read_sql(query, con = engine) # answer: 2019-09-26

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-26 19:32:52,2019-09-27 01:50:27,N,4.0,265,16,1.0,341.64,1761.0,1.0,0.5,0.0,0.0,None,0.3,1762.8,2.0,1.0,0.0

## 5. Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown
## Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

In [67]:
query = """
SELECT z."Borough", SUM(g.total_amount)
FROM green_taxidata_trip g
LEFT JOIN zones z
ON g."PULocationID" = z."LocationID"
WHERE
    1=1
    and date(lpep_pickup_datetime) = '2019-09-18'
    and z."Borough" != 'Unknown'
GROUP BY z."Borough"
"""

pd.read_sql(query, con = engine) # answer: "Bronx" "Brooklyn" "Manhattan"

         Borough       sum
0          Bronx  32830.09
1       Brooklyn  96333.24
2      Manhattan  92271.30
3         Queens  78671.71
4  Staten Island    342.59

In [61]:
query = """
SELECT *
FROM zones
limit 5
"""

pd.read_sql(query, con = engine)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

## 6. For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

In [118]:
query = """
SELECT *
FROM zones z
WHERE z."LocationID" = (
SELECT 
    g."DOLocationID"
FROM green_taxidata_trip g
LEFT JOIN zones z
ON g."PULocationID" = z."LocationID"
WHERE
    1=1
    and z."Zone" = 'Astoria'
ORDER BY g.tip_amount DESC
LIMIT 1)

"""
query2 = """
select z."Zone" from zones  z
WHERE 1=1
    and z."Zone" = 'Astoria'
GROUP BY 1
order by 1

"""

pd.read_sql(query, con = engine) # answer: "JFK Airport"

   LocationID Borough         Zone service_zone
0         132  Queens  JFK Airport     Airports

In [69]:
query = """
SELECT *
FROM green_taxidata_trip g

WHERE
    1=1
    and date(lpep_pickup_datetime) = '2019-09-18'
LIMIT 10 

"""

pd.read_sql(query, con = engine) # answer: "Bronx" "Brooklyn" "Manhattan"

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-18 10:05:23,2019-09-18 10:12:42,N,1.0,95,196,1.0,1.23,7.0,0.5,0.5,0.00,0.0,None,0.3,8.30,2.0,1.0,0.0
1,2.0,2019-09-18 10:53:43,2019-09-18 11:00:01,N,1.0,95,196,1.0,1.31,6.5,0.5,0.5,0.00,0.0,None,0.3,7.80,2.0,1.0,0.0
2,2.0,2019-09-18 00:02:54,2019-09-18 00:08:54,N,1.0,74,168,1.0,1.54,7.0,0.5,0.5,0.00,0.0,None,0.3,8.30,2.0,1.0,0.0
3,2.0,2019-09-18 00:03:40,2019-09-18 00:23:29,N,1.0,168,242,1.0,8.75,26.5,0.5,0.5,0.00,0.0,None,0.3,27.80,2.0,1.0,0.0
4,2.0,2019-09-18 00:01:25,2019-09-18 00:05:35,N,1.0,95,95,1.0,0.79,5.0,0.5,0.5,1.26,0.0,None,0.3,7.56,1.0,1.0,0.0
5,2.0,2019-09-18 00:59:40,2019-09-18 01:09:54,N,1.0,130,10,1.0,2.59,10.5,0.5,0.5,2.36,0.0,None,0.3,14.16,1.0,1.0,0.0
6,2.0,2019-09-18 11:58:35,2019-09-18 12:10:22,N,1.0,95,102,1.0,3.47,12.5,0.5,0.5,0.00,0.0,None,0.3,13.80,2.0,1.0,0.0
7,2.0,2019-09-18 00:03:14,2019-09-18 00:15:43,N,1.0,181,49,1.0,2.35,10.5,0.5,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.0
8,2.0,2019-09-18 00:26:46,2019-09-18 00:28:59,N,1.0,134,134,1.0,0.62,4.0,0.5,0.5,0.00,0.0,None,0.3,5.30,2.0,1.0,0.0
9,2.0,2019-09-18 00:12:22,2019-09-18 00:26:03,N,1.0,97,112,1.0,4.32,15.5,0.5,0.5,3.36,0.0,None,0.3,20.16,1.0,1.0,0.0